name: Publish lStore package
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "client/**"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Rename main file
        run: |
          mv client/youcube.lua client/main.lua

      - name: Publish Package
        uses: Commandcracker/lstore-put@v2
        with:
          username: ${{ secrets.LSTORE_USERNAME }}
          password: ${{ secrets.LSTORE_PASSWORD }}
          path: client
          title: YouCube
